.canecode_select{
    padding:2px;
    border:2px solid #e3e3e3;
    width:80px;
    height:40px;
    border-radius:100px;
    position: relative;
    cursor:pointer;
    transition: all 0.2s ease;
    margin:0 0 20px 0;
    background:#fff;
}
.canecode_select span{
    padding:14px;
    border-radius:100px;
    background:#686C8B;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left:5px;
    transition: all 0.2s ease;
}
.canecode_select.is_on{
    border:2px solid #409cf8;
    background:#409cf8;
}
.canecode_select.is_on span{
    background:#fff;
    left:auto;
    right:5px;
}
.canecode_active{
    display:block;
    visibility: visible;
}
.canecode_hidden{
    display: none;
    visibility: hidden;
}
